<h1>宮城、山形、福島の観光</h1>

<ul>
<% @prefectures.each do |prefecture| %>
    <li><%= link_to prefecture.name, prefecture_path(@prefecture, id: prefecture.id)  %></li>
<% end %>
</ul>


<p>↑↑観光地のレビューを見たい県をクリック</p>

